$BOARD-ELEMENT-IMAGE-RADIUS: 50px;
$BOARD-ELEMENT-HEIGHT: $BOARD-ELEMENT-IMAGE-RADIUS;
$BOARD-ELEMENT-STAR-RATING-SIZE: 15px;

.board-element {

  height: $BOARD-ELEMENT-HEIGHT;

  padding: 30px 15px;

  display: grid;
  grid-template-areas: 'image name score' 'image info info';
  grid-template-columns: calc(#{$BOARD-ELEMENT-HEIGHT} + 10px) auto 40px;
  align-items: center;

  cursor: pointer;

  &__image {

    grid-area: image;

    width: $BOARD-ELEMENT-IMAGE-RADIUS;
    height: $BOARD-ELEMENT-IMAGE-RADIUS;

    border-radius: 50px;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    grid-area: name;
    font-weight: bold;
  }

  &__score {
    grid-area: score;
    color: $SECONDARY-COLOR;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
  }

  &__info {
    grid-area: info;
    color: $TERTIARY-COLOR;
  }

}