$BOARD-WIDTH: 300px;
$BOARD-HEADER-HEIGHT: 30px;

.board {

  position: relative;

  width: $BOARD-WIDTH;
  margin: 25px;

  background-color: $PRIMARY-COLOR;
  box-shadow: 0 1px 3px $TERTIARY-COLOR;
  border-radius: 5px;

  &__header {
    box-shadow: 0 1px 3px $TERTIARY-COLOR;
    border-radius: 5px;
    height: $BOARD-HEADER-HEIGHT;

    display: flex;
    align-items: center;
    padding: 10px;

    width: 100%;
  }

  &__name {
    font-weight: bold;
  }

  &__amount {
    color: $TERTIARY-COLOR;
    margin: 0 5px;
  }

  &__tooltip {
    margin-left: auto;
    color: $TERTIARY-COLOR;

    .tooltip {
      right: 0;
      top: $BOARD-HEADER-HEIGHT;
    }

  }

  &__tooltip-icon {
    cursor: pointer;
  }

  &__elements {

    min-height: 50px;
    width: 100%;

    > * {

      width: 80%;
      margin: auto;

      &:not(:last-child) {
        border-bottom: solid thin lighten($TERTIARY-COLOR, 18%);
      }

    }

  }

}