.tooltip {

  position: absolute;

  min-width: 100px;
  max-width: 500px;
  width: 50%;

  min-height: 100px;
  max-height: 500px;
  height: 50%;

  background-color: $WHITE-COLOR;
  border: solid thin $SECONDARY-COLOR;

  &__item {
    border-bottom: solid $SECONDARY-COLOR;
    padding: 10px;
    cursor: pointer;
  }

}