.modal {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($GREY-COLOR, .8);

  &__container {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $WHITE-COLOR;

    display: flex;
    flex-direction: column;

    padding: 10px 40px;
    border-radius: 10px;

    min-height: 300px;
    min-width: 250px;

  }

  &__header {

    text-align: center;

  }

  &__content {
    margin: auto 0;
  }

  &__footer {
    margin-top: auto;
  }

}