.button {

  padding: 10px 40px;
  border-radius: 5px;

  transition: all .3s;

  &__cancel {

    background-color: $CANCEL-COLOR;
    color: $WHITE-COLOR

  }

  &__submit {
    background-color: $SUBMIT-COLOR;
    color: $WHITE-COLOR
  }

  &__container {

    display: flex;
    justify-content: space-between;

    width: fit-content;

    > * {
      margin: 5px;
    }

  }

  &.disabled {

    opacity: .35;
    pointer-events: none;

  }

}