.form {

  &__control {

    display: flex;
    flex-direction: column;

  }

  &__label {

    transform: skew(-10deg);

  }

  &__input {

    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: solid thin $GREY-COLOR;
    border-radius: 2px;

    &::placeholder {
      text-align: center;
    }

  }

}