$BOARD-OVERVIEW-ADD-NEW-BOARD-HEIGHT: 50px;

.board-overview {

  position: relative;
  background-color: $TERTIARY-COLOR;

  .droppable {

    display: flex;
    flex-wrap: wrap;

  }

  &__add-new-board {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(#{$BOARD-OVERVIEW-ADD-NEW-BOARD-HEIGHT} * 2);
    border-top-left-radius: 50% 70%;
    border-top-right-radius: 50% 70%;
    background-color: $PRIMARY-COLOR;
    color: $SECONDARY-COLOR;

    font-size: $BOARD-OVERVIEW-ADD-NEW-BOARD-HEIGHT;



  }
}