@import "board-overview";

.page {

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    overflow: scroll;

  }

  &__footer {
    position: relative;
    margin-top: auto;
  }

}